/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
    } */

p, i{
    color:grey;
}

/* map title */
.map-box{
    height:30vh;
    position:relative;
}

.map-box .title{
    padding-left:6rem;
    padding-top: 3rem;
}

.img-container{
    position: absolute;
    right:0;
    float:right;
    text-align: right;
}

.img-container img{
    padding:2rem;
}

 /* googlemap */

 .googlemap{
     width:100vw;
     text-align: center;
 }

 .googlemap iframe{
     width: 80vw;
 }

/* cafe info */
.cafe{
    padding:6rem;
}

.cafe span{
    color:#086086;
    font-size: 44px;    
}

.cafe i{
    font-size:18px;
}

.cafe p{
    padding-top: 6rem;
    padding-bottom:0;
}



/* 請調整rwd尺寸20200517 */

@media(max-width:1280px){
    .img-container{
        text-align: left;
        float: left;
    }
    .img-container img{
        width:130px;
    }
}

@media(max-width:768px){
    .img-container img{
       display: none;
    }
    .cafe span{
        font-size: 28px;    
    }

}

